* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
	background-color: #dcdcdc;
	padding: 0px;
	margin: 0px;
}
header{
	background-color:#cccecb;
	color: black;
}
#header-cabeçalho{
	padding: 0px;
	margin: 0px;
}
#icone-header{
	float: left;
	padding: 10px 5px;
	margin: 0px 10px;
}
#saudacao-header{
	float: left;
}
#saudacao-header span{
	font-weight: bold;
	color: #333
}
#saudacao-calendar{
	float: right;
	padding: 20px;
}
#saudacao-calendar span{
	font-weight: bolder;
	color: #333;
}
#conteudo h1{
	font-weight: bold;
	text-shadow: 1px 1px 4px #fff
}
#conteudo h1{
	text-align: center;
}
.fnd-form{
	border-radius: 4px;
	background-color: #fff;
	padding: 10px;
	/* margin: 5px 10px; */
}
.fnd-table{
	border-radius: 4px;
	background-color: #fff;
	padding: 2px;
	margin: 2px;
}
.fnd-form label h4{
    display: inline-block;
    max-width: 100%;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.organiza{
	padding: 10px 20px;
}
.organiza button{
	margin:5px 10px;
}
/******************************************************************************************************************
*										MENU NAVEGAÇAO DO SITE
*******************************************************************************************************************/
.navbar-default {
    background-color: #000;
    border-color: #333;
}
/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #000;
}
*/
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
}
/******************************************************************************************************************/
/*									DIVISÃO MENU PRINCIPAL                                                        */
/******************************************************************************************************************/
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #999;
}
.tab-content>.tab-pane>h2{
	margin: 20px 5px;
	padding: 10px 15px;
}
/******************************************************************************************************************/
/*									FOOTER CONFIGURAÇÃO
/******************************************************************************************************************/

footer{
	background-color: #000;
    bottom:0;
    width:100%;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
}

footer ul{
	display: inline-block;
	padding: 0px 0px;
	margin: 0px 0px;
}
footer ul li{

}
footer h1, h2, h3, h4, h5, h6{
	padding: 5px 0px;
	margin: 3px 0px;
}
/******************************************************************************************************************/
/*									ESTILOS REGISTROS DE OCORRENCIAS
/******************************************************************************************************************/
/*<i class="fa fa-circle fa-2" aria-hidden="true"></i>*/
.color-yellow{
	color: yellow;
}
.color-red{
	color: red;
}
.color-green{
	color: green;
}
/*******************************************************************************************************************/
/*                                  ESTILOS PARA TABELAS EM FORMULARIOS                                            */
/*******************************************************************************************************************/
table.bordas{
	border-radius: 4px;
	padding: 10px 20px;
	box-shadow: 3px 3px 3px #000;
	background-color: #F8F8FF;
	margin: 10px;
	
}
table.bordas thead, tr, th{
	padding: 0px 10px;
}
td, th.bordas{
	padding: 10px;
 }
/*@media (min-width: 1200px)*/
.container {
    width: 1170px;
}

/****************************************************************************************************/
/* 					       ESTILOS PARA TABS - FORMULARIOS DE PESQUISA                             */
/***************************************************************************************************/
.navbar {
    position: relative;
    /* min-height: 50px; */
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #000;
    border: 1px solid #999;
    border-radius: 4px 4px 0px 0px; /* top left, top right, bottom right, bottom left */
    border-bottom-color: rgba(0, 0, 0, 0);
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 0 0;
}
a {
    color: #000;
    text-decoration: none;
}
a:focus, a:hover {
    color: #000;
    text-decoration: underline;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin: 10px;
}
div.container>div.row>div.col-md-12>h2{
	margin: 20px 10px;
	font-weight: bold;
}
div.form-group.fnd-form>label>div.col-md-12>div.checkbox.form-inline>label{
	margin-left: 5px;
}
div.form-group.fnd-form>label>div.col-md-12>div.checkbox.form-inline>label>input{
	margin-right: 2px;
}


p.bg-success {
    margin: 0 0 10px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}
.color1{
	background-color:#2ecc71;
}
.color2 {
    background-color: #1abc9c;
}
.color3 {
    background-color: #16a085;
}	
.pricing{
    padding: 25px 15px;
    margin: 5px;
    color: #FFF;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pricing .price {
    font-size: 52px;
    font-weight: 300;
    margin: 10px 0;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}